@import "tailwindcss";

@theme {
  --color-brand-text: #120410;
  --color-brand-bg: #fef9fd;
  --color-brand-primary: #ce38be;
  --color-brand-secondary: #e5bf98;
  --color-brand-accent: #d7da6a;
}

@keyframes fadeInUp { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }